<div class="well">
<h4> Rails is an open-source web framework that's optimized for programmer happiness and sustainable productivity
</h4>
<p>
Rails is an open-source web framework that's optimized for programmer happiness and sustainable productivity
</p>
</div>

<div class="container">
<% @questions.each do |q| %>
 	<div class="media">
 		<div class="media-left">
 			<a href="#">
 	 			<img class="media-object" src=" <%= q.gravatar %>">
 				</a>
 			</div>
 	 <div class="media-body">
 	 	<h4 class="media-heading"><%= q.email %> </h4>
 	 		<div><%= time_ago_in_words q.created_at %> ago</div>
 	 		<div><%= q.body %></div>			

 	 		<div><a href="<%= question_path(q) %>" class="btn btn-success btn-xs">View Answers</a></div>	

 	</div>
<% end %>
</div>